// *************************************
//
//   Card
//
// *************************************

.card
  padding: ($b-space * 1.5) ($b-space * 1.5) ($b-space * 0.5)
  &:first-of-type
    border-radius: $b-borderRadius $b-borderRadius 0 0
  &:last-of-type
    border-radius: 0 0 $b-borderRadius $b-borderRadius

// -------------------------------------
//   Modifiers
// -------------------------------------

.card--blue
  background: $baby
  margin-bottom: $b-space
  padding: ($b-space * 0.75) $b-space
  p
    color: $gray-dark
    margin: 0
  strong
    color: $blue
    font-weight: 700

.card--bordered
  border: 1px solid lighten($blue, 15%)
  color: rgba(white, 0.65)
  display: block
  margin: -1px 0 0
  padding: ($b-space * 1.5) ($b-space * 6) $b-space ($b-space * 1.5)
  position: relative
  text-decoration: none
  &::after,
  &::before
    content: ''
    position: absolute
  &::after
    border-bottom: 2px solid white
    border-right: 2px solid white
    height: ($b-space * 0.75)
    right: ($b-space * 2.4)
    top: 49%
    transform: rotate(-45deg) translateY(-50%)
    width: ($b-space * 0.75)
  &::before
    background: $blue
    border: 1px solid lighten($blue, 15%)
    border-radius: 50%
    height: ($b-space * 2.75)
    right: ($b-space * 1.5)
    top: 50%
    transform: translateY(-50%)
    width: ($b-space * 2.75)
  &:hover
    border-color: $baby
    color: white
    z-index: 1
    &::after
      border-color: $gray
    &::before
      background: white
      border-color: white

.card--borderedInverse
  border: $b-border
  border-color: darken(white, 10%)
  margin: -1px 0 0

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
