// *************************************
//
//   Featured
//
// *************************************

.featured
  display: flex
  height: 750px
  position: relative

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

.featured-content
  display: flex
  flex-flow: column nowrap
  justify-content: center
  margin: 0 auto
  max-width: ($b-maxWidth * 0.5)
  +respond-to($g-l)
    margin: 0
    width: calc(100% - 650px)
  
.featured-media
  left: 550px
  position: absolute
  top: ($b-space * 4)
  width: 100%
  #image-syllabus
    height: 746px
    width: 975px