// *************************************
//
//   Hero
//
// *************************************

.hero
  background-position: 100% 50%
  background-repeat: no-repeat
  background-size: 550px 555px
  display: flex
  flex-flow: column nowrap
  height: calc(100vh - 150px)
  +respond-to($g-m)
    flex-direction: row

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

.hero-content
  display: flex
  flex-flow: column nowrap
  justify-content: space-around
  padding: ($b-space * 7) 0
  +respond-to($g-m)
    width: calc(100% - 650px)