// *************************************
//
//   Logo
//
// *************************************

.logo
  color: $blue
  display: inline-block
  margin: 0

// -------------------------------------
//   Modifiers
// -------------------------------------

.logo--large
  font-size: 3.5rem
  line-height: 1

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
