// *************************************
//
//   Logo
//
// *************************************

.logo
  color: $blue
  display: inline-block
  font-size: $t-heading-fontSize
  margin: 0 0 $b-space

// -------------------------------------
//   Modifiers
// -------------------------------------

.logo--large
  font-size: 2.75rem
  line-height: 1
  +respond-to($g-s)
    font-size: 3rem
  +respond-to($g-m)
    font-size: 3.5rem

.logo--navigation
  font-size: 1rem
  margin: 0
  position: relative
  top: 1px
  +respond-to($g-s)
    top: auto

// -------------------------------------
//   States
// -------------------------------------

.logo.is-hidden
  display: none

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
