// *************************************
//
//   Row
//
// *************************************

.row
  background: $blue
  overflow: hidden

// -------------------------------------
//   Modifiers
// -------------------------------------

.row--dark
  background: $gray-dark

.row--gradient
  background: white
  background-image: linear-gradient(darken(white, 7%), white)

.row--light
  background: $baby

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
