// *************************************
//
//   Row
//
// *************************************

.row
  background: $blue
  overflow: hidden

// -------------------------------------
//   Modifiers
// -------------------------------------

.row--dark
  background: $gray-dark

.row--gradient
  background: white
  background-image: linear-gradient(darken(white, 7%), white)

.row--image
  img
    +respond-to($g-s)
      transform: scale(0.9)

.row--light
  background: $baby

.row--white
  background: white
  border-bottom: $b-border

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

.row-content
  margin-top: $b-space
  text-align: center
  +respond-to($g-m)
    text-align: left
    z-index: 10
  p
    margin-bottom: ($b-space * 0.75)

.row-content--left
  margin-top: 0
  +respond-to($g-m)
    bottom: ($b-space * 8)
    left: ($b-space * 6)
    position: absolute

.row-content--right
  +respond-to($g-m)
    position: absolute
    right: ($b-space * 7)
    top: 50%
    transform: translateY(-50%)