{% extends "layout.html" %}
{% block content %}

{% include "nav.html" %}
<div class="cell">
  <div class="hero">
    <div class="hero-content">
      <span class="logo logo--large">Barrier &amp; Co.</span>
      <div>
        <h1>Getting something designed shouldn’t be a headache.</h1>
        <p>At Barrier & Co., we love designing and we want you to love it too. We pride ourselves on being top notch designers without the drama.</p>
      </div>
    </div>
    <img class="hero-imagery" src="https://unsplash.it/1500/1300" />
  </div>
</div>

{% endblock %}
